* {
  margin: 0;
  padding: 0;
}

.gradient-background {
  background: linear-gradient(300deg, #00bfff, #53ab63, #f6f206);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.img-carousel {
  height: 600px;
  border-radius: 10px;
  object-fit: cover;
} 

#fruit-hub-title, #fresh-fruit-desc {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3ec78;
  background: linear-gradient(to bottom, #6300ff, #d400c3, #ff0083, #ff0049, #ff0d0d);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}


